*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.vs
/app/release
/app/.idea
/app/google-services.json
/app/src/main/java/app/dphone/NotificationSettings.java
